@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

blockquote {
  background: #efefef;
  padding: 1px 0px 1px 10px;
  border-radius: 4px;
  border: solid 1px #ddd;
}

details {
  margin: 15px;
}

#splashville {
  width: 650px;
  height: 120px;
  margin-top: 20px;
}
/* .katex-display {
  margin: 0 !important;
} */
